{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel='stylesheet' href="{% static "css/style.css" %}">

<div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">This is a E-Com website</h1>
            <p class="lead">Search for products. Best deals available here</p>
            <p class="lead">
              <a class="waves-effect waves-light btn-large" href="search">Start Searching</a>
            </p>
          </div>
        </div>
      </div>
</div>
{% endblock content %}



{% comment %} https://www.codeply.com/go/QNON4T9aFF/full-screen-background-image-overlay {% endcomment %}